<li><%= link_to "Home", '/' %></li>
<center>


<form action="/customer" method="POST">
	<h1>Registration for Customer</h1>
	<input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %>>
	<input type="email" name="customer[email]" placeholder="email"><br>
	<input type="password" name="customer[password]" placeholder="password"><br>
	<input type="password" name="customer[password_confirmation]" placeholder="password_confirmation"><br>
	<input type="text" name="customer[username]" placeholder="username"><br>
	<input type="text" name="customer[gender]" placeholder="gender"><br>
	<input type="text" name="customer[address]" placeholder="address"><br>
	<input type="text" name="customer[contact]" placeholder="contact"><br>
	Date of Birth:<input type="date" name="customer[dob]" placeholder="Date of Birth"><br>
	<input type="submit" name="submit" class="submit">
	

</form>
</center>